<div class="has-text-centered" style="margin-left: 5%; margin-right: 5%;">
  <div class="box" style="height: 90vh">
    <h1 class="title has-text-info"><b>Dobrodošli u admin sučelje korisniče!</b></h1>
    <h1 class="has-text-info"><b>Odaberite jednu od opcija:</b></h1>
    <div style="margin-bottom: 25vh">
    </div>
    <div class="columns">
      <div class="column">
        <a routerLink="/pregled-studenata">
          <div class="box has-background-info has-text-white is-clickable">
            <h1><b>Studenti</b></h1>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a routerLink="/pregled-visokih-ucilista">
          <div class="box has-background-info has-text-white is-clickable">
            <h1><b>Visoka učilišta</b></h1>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/pregled-kolegija">
          <div class="box has-background-info has-text-white is-clickable">
            <h1><b>Kolegiji</b></h1>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <a routerLink="/pregled-studija">
          <div class="box has-background-info has-text-white is-clickable">
            <h1><b>Studiji</b></h1>
          </div>
        </a>
      </div>
      <div class="column">
        <a routerLink="/pregled-upisnih-prijava">
          <div class="box has-background-info has-text-white is-clickable">
            <h1><b>Upisi</b></h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
