<div style="margin-bottom: 10vh">
</div>
<div class="columns is-centered">
<div class="column is-one-quarter">
  <form class="box">
    <h1 class="has-text-centered is-size-5"><b>Prijava</b></h1>
    <hr>
    <div class="field">
      <label class="label">Korisničko ime</label>
      <div class="control">
        <input class="input" type="email" #korisnickoIme placeholder="ivoivic">
      </div>
    </div>

    <div class="field">
      <label class="label">Lozinka</label>
      <div class="control">
        <input class="input" type="password" #lozinka placeholder="********">
      </div>
    </div>
    <a><h1 class="zaboravljena mb-4 mt-4">Zaboravili ste lozinku?</h1></a>
    <button class="button is-fullwidth is-info" (click)="prijavaKorisnika(korisnickoIme.value, lozinka.value)">Prijava</button>
  </form>
</div>
</div>

