<div style="margin-bottom: 10vh">
</div>
<div class="columns is-centered">
<div class="column is-one-quarter">
  <form class="box">
    <h1 class="has-text-centered is-size-5"><b>Prijava</b></h1>
    <hr>
    <div class="field">
      <label class="label">Korisničko ime</label>
      <div class="control">
        <input class="input" type="email" placeholder="ivoivic">
      </div>
    </div>

    <div class="field">
      <label class="label">Lozinka</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>
    <a><h1 class="zaboravljena mb-4 mt-4">Zaboravili ste lozinku?</h1></a>
    <a routerLink="/pregled-upisa"><button class="button is-fullwidth is-info">Prijava</button></a>
    <a routerLink="/admin-izbornik"><button class="button is-fullwidth is-success">Admin</button></a>
  </form>
</div>
</div>

