<div style="margin-left: 5%; margin-right: 5%;">
  <div class="box" style="min-height: 90vh">
    <div class="level">
      <div class="level-left">
        <h1 class="title has-text-info"><b>Pregled studenata</b></h1>
      </div>
      <div class="level-right">
        <button class="button is-info" (click)="modalOtvoren = !modalOtvoren">Dodaj studenta</button>
      </div>
    </div>
    <div class="field mt-6 has-text-centered">
      <div class="control">
        <input id="pretraga" class="input has-text-centered" style="width: 60%" type="text" (keydown)="pretrazi()" placeholder="Pretraga studenata">
      </div>
    </div>
    <div style="margin-bottom: 10vh">
    </div>
    <div class="columns">
      <div class="column has-background-info-dark has-text-white">
        <h1><b>Studenti:</b></h1>
      </div>
    </div>
    <div class="tablica-wrapper">
      <table class="table has-text-centered is-fullwidth">
        <thead>
        <tr>
          <th class="has-text-centered">Ime i prezime</th>
          <th class="has-text-centered">JMBAG</th>
          <th class="has-text-centered">Visoko učilište</th>
          <th class="has-text-centered"></th>
          <th class="has-text-centered"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentiPrikaz">
          <td>{{student.ime}} {{student.prezime}}</td>
          <td>{{student.jmbag}}</td>
          <td>{{student.visokoUciliste.opis}}</td>
          <td>
            <button class="button is-warning">Uredi</button>
          </td>
          <td>
            <button class="button is-danger">Izbriši</button>
          </td>
        </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</div>

<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Dodaj studenta</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Ime studenta</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ivan" #ime>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Prezime studenta</label>
            <div class="control">
              <input class="input" type="text" placeholder="Horvat" #prezime>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">JMBAG studenta</label>
            <div class="control">
              <input class="input" type="text" placeholder="2015567433" #jmbag>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Adresa studenta</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ilica 25" #adresa>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Semestar</label>
            <div class="control">
              <input class="input" type="text" placeholder="3" #semestar>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Lozinka</label>
            <div class="control">
              <input class="input" type="password" placeholder="****" #lozinka>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Visoko učilište</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="visokoUcilisteSelect" (change)="dohvatiStudije()" #visokoUcilisteSIf>
              <option value="">Molimo odaberite...</option>
              <option *ngFor="let visokoUciliste of visokaUcilista" [value]="visokoUciliste.sifra">{{visokoUciliste.opis}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Studij</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="studijSelect" disabled #studijSif>
              <option>Molimo odaberite...</option>
              <option *ngFor="let studij of studiji" [value]="studij.sifra">{{studij.opis}}</option>
            </select>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped mt-5">
        <div class="control">
          <button class="button is-info" (click)="spremiStudenta(ime.value,prezime.value,jmbag.value,semestar.value,adresa.value,lozinka.value, visokoUcilisteSIf.value, studijSif.value)">Dodaj</button>
        </div>
        <div class="control">
          <button (click)="modalOtvoren = !modalOtvoren" class="button is-danger">Odustani</button>
        </div>
      </div>
    </footer>
  </div>
</div>
