<div style="margin-left: 5%; margin-right: 5%;">
  <div class="box" style="min-height: 90vh">
    <div class="level">
      <div class="level-left">
        <h1 class="title has-text-info"><b>Pregled kolegija</b></h1>
      </div>
      <div class="level-right">
        <button class="button is-info" (click)="modalOtvoren = !modalOtvoren">Dodaj kolegij</button>
      </div>
    </div>
    <div class="field mt-6 has-text-centered">
      <div class="control">
        <input id="pretraga" class="input has-text-centered" style="width: 60%" type="text"
               placeholder="Pretraga kolegija" (keydown)="pretrazi()">
      </div>
    </div>
    <div style="margin-bottom: 10vh">
    </div>
    <div class="columns">
      <div class="column has-background-info-dark has-text-white">
        <h1><b>Kolegiji:</b></h1>
      </div>
    </div>
    <div class="tablica-wrapper">
      <table class="table has-text-centered is-fullwidth">
        <thead>
        <tr>
          <th class="has-text-centered">Naziv</th>
          <th class="has-text-centered">Semestar</th>
          <th class="has-text-centered">ECTS bodovi</th>
          <th class="has-text-centered">Visoko učilište</th>
          <th class="has-text-centered">Studij</th>
          <th class="has-text-centered"></th>
          <th class="has-text-centered"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let kolegij of kolegijiPrikaz">
          <td>{{kolegij.naziv}}</td>
          <td>{{kolegij.semestar}}</td>
          <td>{{kolegij.ects}}</td>
          <td>{{kolegij.visokoUciliste.opis}}</td>
          <td>{{kolegij.studij.opis}}</td>
          <td>
            <button class="button is-warning" (click)="dohvatiKolegij(kolegij.sifra)">Uredi</button>
          </td>
          <td>
            <button class="button is-danger" (click)="dohvatiKolegij(kolegij.sifra); modalBrisanjeOtvoren = !modalBrisanjeOtvoren;">Izbriši</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
</div>

<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Dodaj kolegij</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Naziv kolegija</label>
        <div class="control">
          <input class="input" type="text" placeholder="Matematika I" #naziv>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Semestar</label>
            <div class="control">
              <input class="input" type="text" placeholder="1" #semestar>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">ECTS bodovi</label>
            <div class="control">
              <input class="input" type="text" placeholder="6" #ects>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">ISVU šifra</label>
            <div class="control">
              <input class="input" type="text" placeholder="229516" #isvuSif>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Obavezan</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select #obavezan>
                  <option value="" hidden>Molimo Odaberite..</option>
                  <option value="true">DA</option>
                  <option value="">NE</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Informacije</label>
        <div class="control">
          <textarea class="textarea" placeholder="Informacije o kolegiju" #informacije></textarea>
        </div>
      </div>
      <label class="label has-text-weight-medium has-text-centered">Nastavnici</label>
      <div class="field" id="nastavnici">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium has-text-centered">Titula</label>
              <div class="control">
                <input class="input titula" type="text" placeholder="dr.sc.">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label has-text-weight-medium has-text-centered">Ime i prezime</label>
              <div class="control">
                <input class="input imePrezime" type="text" placeholder="Ivo Ivić">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <button class="button is-info" (click)="dodajNastavnika()">Dodaj nastavnika</button>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Visoko učilište</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="visokoUcilisteSelect" (change)="dohvatiStudije()">
              <option value="" hidden>Molimo odaberite...</option>
              <option *ngFor="let visokoUciliste of visokaUcilista"
                      [value]="visokoUciliste.sifra">{{visokoUciliste.opis}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Studij</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="studijSelect" disabled #studijSif>
              <option value="" hidden>Molimo odaberite...</option>
              <option *ngFor="let studij of studiji" [value]="studij.sifra">{{studij.opis}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field is-grouped mt-5">
        <div class="control">
          <button class="button is-info"
                  (click)="spremiKolegij(naziv.value,ects.value,semestar.value,isvuSif.value,obavezan.value,studijSif.value,informacije.value, false)">
            Dodaj
          </button>
        </div>
        <div class="control">
          <button class="button is-danger">Odustani</button>
        </div>
      </div>
    </section>
  </div>
</div>

<div *ngIf="modalBrisanjeOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalBrisanjeOtvoren = !modalBrisanjeOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Potvrdite brisanje kolegija</p>
      <button class="delete" aria-label="close" (click)="modalBrisanjeOtvoren = !modalBrisanjeOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <h1><b>Jeste li sigurni da želite izbrisati kolegij?</b></h1>
      <hr>
      <div class="has-text-centered">
        <p><b>Naziv:</b></p>
        <p>{{kolegij.naziv}}</p>
        <p class="mt-5"><b>Visoko učilište:</b></p>
        <p>{{kolegij.visokoUciliste.opis}}</p>
        <p class="mt-5"><b>Studij:</b></p>
        <p>{{kolegij.studij.opis}}</p>
      </div>
      <hr>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="izbrisiKolegij()">Izbriši</button>
      <button class="button" (click)="modalBrisanjeOtvoren = !modalBrisanjeOtvoren">Odustani</button>
    </footer>
  </div>
</div>
