<div class="box">
    <div>
      <div class="columns">
        <div class="column has-background-primary has-text-white">
          <div class="level">
            <div class="level-left">
              <h1><b>Odabrani kolegiji:</b></h1>
            </div>
            <div class="level-right">
              <h1><b>{{upisniList.upisniBroj}}</b></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="tablica-wrapper">
        <table class="table has-text-centered is-fullwidth">
          <thead>
          <tr>
            <th class="has-text-centered">Naziv kolegija</th>
            <th class="has-text-centered">Semestar</th>
            <th class="has-text-centered">ISVU šifra</th>
            <th class="has-text-centered">ECTS bodovi</th>
            <th class="has-text-centered">Obavezan</th>
            <th class="has-text-centered">Cijena</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let kolegij of upisniList.odabraniKolegiji">
            <td>{{kolegij.naziv}}</td>
            <td>{{kolegij.semestar}}</td>
            <td>{{kolegij.isvuSifra}}</td>
            <td>{{kolegij.semestar}}</td>
            <td>{{kolegij.obavezan ? 'DA' : 'NE'}}</td>
            <td>{{kolegij.cijena}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="columns mt-6 ml-6">
      <div class="column is-3 ml-6">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Školarina:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>{{upisniList.ukupnaCijena}}</p>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Cijena po ECTS bodu:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>{{upisniList.cijenaPoEctsu}}</p>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Ukupno ECTS bodova:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>{{upisniList.brojEctsa}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns mt-3">
      <div class="column has-text-centered">
        <a routerLink="/pregled-upisa"><button class="button is-primary">Završi odabir</button></a>
      </div>
    </div>
  </div>
