<div class="box">
    <div>
      <div class="columns">
        <div class="column has-background-primary has-text-white">
          <h1><b>Odabrani kolegiji:</b></h1>
        </div>
      </div>
      <div class="tablica-wrapper">
        <table class="table has-text-centered is-fullwidth">
          <thead>
          <tr>
            <th class="has-text-centered">Naziv kolegija</th>
            <th class="has-text-centered">Semestar</th>
            <th class="has-text-centered">ISVU šifra</th>
            <th class="has-text-centered">ECTS bodovi</th>
            <th class="has-text-centered">Broj upisa</th>
            <th class="has-text-centered">Cijena</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>NOSQL i napredna big data analitika</td>
            <td>3</td>
            <td>130968</td>
            <td>6</td>
            <td>1</td>
            <td>200 EUR</td>
          </tr>
          <tr>
            <td>Alati i postupci umjetne inteligencije</td>
            <td>3</td>
            <td>130969</td>
            <td>6</td>
            <td>1</td>
            <td>200 EUR</td>
          </tr>
          <tr>
            <td>Reinžinjering poslovnih procesa</td>
            <td>3</td>
            <td>212898</td>
            <td>6</td>
            <td>1</td>
            <td>200 EUR</td>
          </tr>
          <tr>
            <td>Napredne tehnike projektiranja web servisa</td>
            <td>3</td>
            <td>551042</td>
            <td>6</td>
            <td>1</td>
            <td>200 EUR</td>
          </tr>
          <tr>
            <td>Projektiranje inovacija</td>
            <td>3</td>
            <td>189415</td>
            <td>6</td>
            <td>1</td>
            <td>200 EUR</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="columns mt-6 ml-6">
      <div class="column is-3 ml-6">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Školarina:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>1000 EUR</p>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Cijena po ECTS bodu:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>33,33 EUR</p>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p><b>Ukupno ECTS bodova:</b></p>
            </div>
          </div>
          <div class="level-right">
            <p>30</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns mt-3">
      <div class="column has-text-centered">
        <a routerLink="/pregled-upisa"><button class="button is-primary">Završi odabir</button></a>
      </div>
    </div>
  </div>
