<div style="margin-left: 5%; margin-right: 5%;">
  <div class="box" style="height: 75vh">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title has-text-info">Dobrodošli u web aplikaciju za upis na visoka učilišta</h1>
        <h1 *ngIf="upis.sifra != ''" class="has-text-centered">{{upis.visokoUciliste.opis}}</h1>
      </div>
    </div>
    <div class="column">
      <h1 class="is-size-5"><strong>Upisi u tijeku:</strong></h1>
      <div class="column has-text-centered">
        <hr>
        <div *ngIf="upis.sifra === ''" class="column has-text-centered">
          <h1 class="title has-text-info mt-6">Trenutno nema upisa za pirkaz</h1>
        </div>
        <div *ngIf="upis.sifra != ''">
          <p><strong>Naziv studija</strong></p>
          <p>{{upis.studij.opis}}</p>
          <p class="mt-1"><strong>Semestar</strong></p>
          <p>{{upis.semestar}}</p>
          <p class="mt-1"><strong>Traje do</strong></p>
          <p>{{upis.datumVrijemeDo}}</p>
          <p class="mb-5"></p>
          <div class="buttons is-centered">
            <a *ngIf="upis.status === 'NIJE_ZAPOCET'" routerLink="/odabir-kolegija"><button class="button is-info">Upiši</button></a>
            <button *ngIf="upis.status === 'U_TIJEKU'" class="button is-primary mr-1">Potvrdi upis</button>
            <button *ngIf="upis.status === 'U_TIJEKU'" class="button is-danger mr-1" (click)="modalOtvoren = !modalOtvoren">Izbriši upis</button>
            <button *ngIf="upis.status === 'ZAVRSEN'" class="button is-info mr-1">Pregledaj upis</button>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Potvrdite brisanje upisnog lista</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <h1><b>Jeste li sigurni da želite izbrisati upisni list?</b></h1>
      <hr>
      <div class="has-text-centered">
        <p><b>Studij:</b></p>
        <p>{{upis.studij.opis}}</p>
        <p><b>Semestar:</b></p>
        <p>{{upis.semestar}}</p>
      </div>
      <hr>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger">Izbriši</button>
      <button class="button" (click)="modalOtvoren = !modalOtvoren">Odustani</button>
    </footer>
  </div>
</div>
