<div style="margin-left: 5%; margin-right: 5%;">
  <div class="box has-text-centered">
    <p>Luka Rukavina (0246073114)</p>
    <p>Specijalistički izvanredni studij informatike (RS) - Programsko inženjerstvo računarskih i ugradbenih sustava</p>
    <p><strong>Semestar 3</strong></p>
  </div>
  <div class="box" style="height: 75vh">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title has-text-info">Dobrodošli u web aplikaciju za upis na visoka učilišta</h1>
        <h1 class="has-text-centered">Tehničko Veleučilište u Zagrebu</h1>
      </div>
    </div>
    <div class="column">
      <h1 class="is-size-5"><strong>Upisi u tijeku:</strong></h1>
      <div class="column has-text-centered">
        <hr>
        <p><strong>Naziv studija</strong></p>
        <p>Specijalistički izvanredni studij informatike (RS) - Programsko inženjerstvo računarskih i ugradbenih sustava</p>
        <p class="mt-1"><strong>Semestar</strong></p>
        <p>3</p>
        <p class="mt-1"><strong>Traje do</strong></p>
        <p>29.09.2023 23:59</p>
        <p class="mb-5"></p>
        <a routerLink="/odabir-kolegija"><button class="button is-info">Upiši</button></a>
        <hr>
      </div>
      <div class="column has-text-centered">
        <hr>
        <p><strong>Studij:</strong></p>
        <p>Specijalistički izvanredni studij informatike (RS) - Programsko inženjerstvo računarskih i ugradbenih sustava</p>
        <p class="mt-1"><strong>Semestar:</strong></p>
        <p>3</p>
        <p class="mb-3"></p>
        <div class="buttons is-centered">
          <button class="button is-primary mr-1">Potvrdi upis</button>
          <button class="button is-danger mr-1" (click)="modalOtvoren = !modalOtvoren">Izbriši upis</button>
          <button class="button is-info mr-1">Pregledaj upis</button>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Potvrdite brisanje upisa</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <h1><b>Jeste li sigurni da želite izbrisati upis?</b></h1>
      <hr>
      <div class="has-text-centered">
        <p><b>Studij:</b></p>
        <p>Specijalistički izvanredni studij informatike (RS) - Programsko inženjerstvo računarskih i ugradbenih sustava</p>
        <p><b>Semestar:</b></p>
        <p>3</p>
      </div>
      <hr>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger">Izbriši</button>
      <button class="button">Odustani</button>
    </footer>
  </div>
</div>
