<div class="box has-text-primary-dark" style="margin-bottom: 2vh">
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1><strong>Upiši.se</strong></h1>
    </div>
    <div *ngIf="!isPregledUpisa()" class="level-item">
      <a routerLink="/pregled-upisa"><p>Početna stranica</p></a>
    </div>
  </div>
  <div class="level-right">
    <div *ngIf="!isLogin()" class="level-item">
      <a routerLink="/login"><p>Odjava</p></a>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
