<div style="margin-left: 5%; margin-right: 5%;">
  <div class="box" style="min-height: 90vh">
    <div class="level">
      <div class="level-left">
        <h1 class="title has-text-info"><b>Pregled visokih učilišta</b></h1>
      </div>
      <div class="level-right">
        <button class="button is-info" (click)="modalOtvoren = !modalOtvoren">Dodaj visoko učilište</button>
      </div>
    </div>
    <div class="field mt-6 has-text-centered">
      <div class="control">
        <input id="pretraga" class="input has-text-centered" style="width: 60%" type="text" (keydown)="pretrazi()"
               placeholder="Pretraga visokih učilišta">
      </div>
    </div>
    <div style="margin-bottom: 10vh">
    </div>
    <div class="columns">
      <div class="column has-background-info-dark has-text-white">
        <h1><b>Visoka učilišta:</b></h1>
      </div>
    </div>
    <div class="tablica-wrapper">
      <table class="table has-text-centered is-fullwidth">
        <thead>
        <tr>
          <th class="has-text-centered">Naziv</th>
          <th class="has-text-centered">Adresa</th>
          <th class="has-text-centered">Poštanski broj i mjesto</th>
          <th class="has-text-centered"></th>
          <th class="has-text-centered"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let visokoUciliste of visokaUcilistaPrikaz">
          <td>{{visokoUciliste.naziv}}</td>
          <td>{{visokoUciliste.adresa}}</td>
          <td>{{visokoUciliste.postanskiBroj}} {{visokoUciliste.mjesto}}</td>
          <td>
            <button class="button is-warning" (click)="dohvatiVisokoUciliste(visokoUciliste.sifra); modalEditOtvoren = !modalEditOtvoren">Uredi</button>
          </td>
          <td>
            <button class="button is-danger" (click)="dohvatiVisokoUciliste(visokoUciliste.sifra)">Izbriši</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
</div>

<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Dodaj visoko učilište</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Naziv visokog učilišta</label>
        <div class="control">
          <input class="input" type="text" placeholder="Tehničko veleučilište u Zagrebu" #naziv>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Adresa visokog učilišta</label>
        <div class="control">
          <input class="input" type="text" placeholder="Vrbik 8" #adresa>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Poštanski broj visokog učilišta</label>
            <div class="control">
              <input class="input" type="text" placeholder="10 000" #postanskiBroj>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Mjesto visokog učilišta</label>
            <div class="control">
              <input class="input" type="text" placeholder="Zagreb" #mjesto>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Iban visokog učilišta</label>
            <div class="control">
              <input class="input" type="text" placeholder="HR1723600001101234565" #iban>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Oib visokog učilišta</label>
            <div class="control">
              <input class="input" type="text" placeholder="30156301793" #oib>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped mt-5">
        <div class="control">
          <button class="button is-info"
                  (click)="spremiVisokoUciliste('', naziv.value, adresa.value, postanskiBroj.value, mjesto.value, iban.value, oib.value, false)">
            Dodaj
          </button>
        </div>
        <div class="control">
          <button (click)="modalOtvoren = !modalOtvoren" class="button is-danger">Odustani</button>
        </div>
      </div>
    </section>
  </div>
</div>

<div *ngIf="modalEditOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalEditOtvoren = !modalEditOtvoren"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Uredi visoko učilište</p>
      <button class="delete" aria-label="close" (click)="modalEditOtvoren = !modalEditOtvoren"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Naziv visokog učilišta</label>
        <div class="control">
          <input class="input" value="{{visokoUciliste.naziv}}" type="text" placeholder="Tehničko veleučilište u Zagrebu" #naziv>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-weight-medium has-text-centered">Adresa visokog učilišta</label>
        <div class="control">
          <input class="input" value="{{visokoUciliste.adresa}}" type="text" placeholder="Vrbik 8" #adresa>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Poštanski broj visokog učilišta</label>
            <div class="control">
              <input class="input" value="{{visokoUciliste.postanskiBroj}}" type="text" placeholder="10 000" #postanskiBroj>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Mjesto visokog učilišta</label>
            <div class="control">
              <input class="input" value="{{visokoUciliste.mjesto}}" type="text" placeholder="Zagreb" #mjesto>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Iban visokog učilišta</label>
            <div class="control">
              <input class="input" value="{{visokoUciliste.iban}}" type="text" placeholder="HR1723600001101234565" #iban>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-weight-medium has-text-centered">Oib visokog učilišta</label>
            <div class="control">
              <input class="input" value="{{visokoUciliste.oib}}" type="text" placeholder="30156301793" #oib>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped mt-5">
        <div class="control">
          <button class="button is-info"
                  (click)="spremiVisokoUciliste('', naziv.value, adresa.value, postanskiBroj.value, mjesto.value, iban.value, oib.value, true)">
            Uredi
          </button>
        </div>
        <div class="control">
          <button (click)="modalEditOtvoren = !modalEditOtvoren" class="button is-danger">Odustani</button>
        </div>
      </div>
    </section>
  </div>
</div>
