 <div class="box">
    <div>
      <div class="columns">
        <div class="column has-background-info has-text-white">
          <h1><b>Obavezni kolegiji:</b></h1>
        </div>
      </div>
      <div class="tablica-wrapper">
        <table class="table tablica has-text-centered is-fullwidth">
          <thead>
          <tr>
            <th class="tablica has-text-centered">Naziv kolegija</th>
            <th class="tablica has-text-centered">Semestar</th>
            <th class="tablica has-text-centered">ECTS bodovi</th>
            <th class="tablica has-text-centered">Odabir</th>
            <th class="has-text-centered">Informacije o kolegiju</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let obavezniKolegij of upis.obavezniKolegiji">
            <td>{{obavezniKolegij.opis}}</td>
            <td>{{obavezniKolegij.semestar}}</td>
            <td>{{obavezniKolegij.ects}}</td>
            <td><input type="checkbox" disabled checked></td>
            <td><button class="button is-info" (click)="modalOtvoren = !modalOtvoren; dohvatiKolegijpregled(obavezniKolegij.sifra)">Pregled</button> </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="columns mt-6">
        <div class="column has-background-primary has-text-white">
          <h1><b>Izborni kolegiji:</b></h1>
        </div>
      </div>
      <div class="tablica-wrapper">
        <table class="table has-text-centered is-fullwidth">
          <thead>
          <tr>
            <th class="tablica has-text-centered">Naziv kolegija</th>
            <th class="tablica has-text-centered">Semestar</th>
            <th class="tablica has-text-centered">ECTS bodovi</th>
            <th class="tablica has-text-centered">Odabir</th>
            <th class="has-text-centered">Informacije o kolegiju</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let izborniKolegij of upis.izborniKolegiji">
            <td>{{izborniKolegij.opis}}</td>
            <td>{{izborniKolegij.semestar}}</td>
            <td>{{izborniKolegij.ects}}</td>
            <td><input type="checkbox"></td>
            <td><button class="button is-info" (click)="modalOtvoren = !modalOtvoren; dohvatiKolegijpregled(izborniKolegij.sifra)">Pregled</button> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns mt-3">
      <div class="column has-text-centered">
        <a routerLink="/potvrda-upisa"><button class="button is-info">Odaberi kolegije</button></a>
      </div>
    </div>
    <hr>
    <div class="columns ml-6 mr-6">
      <div class="column has-text-centered">
        <p class="has-text-danger-dark ml-6 mr-6">Ako smatrate da je ovaj popis predmeta pogrešan za Vaš slučaj molimo da svejedno završite ovu prijavu upisa (bez konačne potvrde upisa na ekranu za <b>pregled upisa</b>) nakon kontaktirajte studentsku referadu kako bi se upis ispravio. </p>
      </div>
    </div>
  </div>

<div *ngIf="modalOtvoren" class="modal is-active">
  <div class="modal-background" (click)="modalOtvoren = !modalOtvoren; defaultTab();"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Informacije o kolegiju</p>
      <button class="delete" aria-label="close" (click)="modalOtvoren = !modalOtvoren; defaultTab();"></button>
    </header>
    <section class="modal-card-body" style="min-height: 520px">
      <div class="tabs is-centered">
        <ul>
          <li id="osnovneInformacije" class="is-active tab" (click)="promijeniTab('osnovneInformacije')"><a>Osnovne informacije</a></li>
          <li id="nastavnici" class="tab" (click)="promijeniTab('nastavnici')"><a>Nastavnici i suradnici</a></li>
        </ul>
      </div>
      <div *ngIf="aktivniTab === 'osnovneInformacije'">
        <div class="has-text-centered">
          <p class="mt-5"><b>Naziv kolegija:</b></p>
          <p>{{kolegijPregled.naziv}}</p>
          <p class="mt-5"><b>Broj ECTS bodova:</b></p>
          <p>{{kolegijPregled.ects}}</p>
          <p class="mt-5"><b>Semestar:</b></p>
          <p>{{kolegijPregled.semestar}}</p>
          <p class="mt-5"><b>ISVU šifra:</b></p>
          <p>{{kolegijPregled.isvuSifra}}</p>
          <p class="mt-5"><b>Obavezan:</b></p>
          <p>{{kolegijPregled.obavezan ? 'DA' : 'NE'}}</p>
        </div>
        <hr>
        <p>{{kolegijPregled.kolegijInfo.informacije}}</p>
      </div>
      <div *ngIf="aktivniTab === 'nastavnici'">
        <div class="has-text-centered">
          <p class="mt-5"><b>Nastavnici:</b></p>
          <div *ngFor="let nastavnik of kolegijPregled.nastavnici">
            <p>{{nastavnik.titula}} {{nastavnik.ime}} {{nastavnik.prezime}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
